.text-8 {
  font-size: 8px !important;
}

.text-12 {
  font-size: 12px !important;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-22 {
  font-size: 22px;
}

.text-24 {
  font-size: 24px;
}

.text-28 {
  font-size: 28px;
}

.text-30 {
  font-size: 30px;
}

.text-32 {
  font-size: 32px !important;
  font-weight: lighter !important;
}

.text-36 {
  font-size: 36px;
}

.text-80 {
  font-size: 80px;
}

.text-lighter {
  font-weight: lighter;
}